---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "The Versatile Code Portfolio of JohanWTF";
const allProjects = await getCollection("projects");
---
<BaseLayout pageTitle={pageTitle}>
  <p>Embark on a journey through the innovative realm of JohanWTF, where cutting-edge frontend development takes center stage. With a mastery of Angular and React, Johan crafts responsive and interactive user interfaces that are both visually appealing and functionally robust. Leveraging the power of vanilla JavaScript, Johan delivers custom solutions that seamlessly integrate with scalable backend systems and sophisticated database designs, all while showcasing a growing proficiency in Java. Dive into the portfolio of JohanWTF and experience the synergy of modern web development and creative problem-solving.</p>


  <div class="projects__homepage">
    <h2>My Projects</h2>
    <ul>
      {
        allProjects.map((project) => (
        <BlogPost url={`/projects/${project.slug}/`} title={project.data.title} image={project.data.images[0]}>
           {project.data.skills.map((skill) => { return (<a class="project__skill" href={`/skills/${skill}/`}>{skill}</a>) })}
        </BlogPost>
        ))
      }
    </ul>
  </div>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
<style>
  
</style>
