---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Portfolio: JohanWTF";
const allPosts = await getCollection("projects");
---
<BaseLayout pageTitle={pageTitle}>
  <p>Here, you can see some of the projects I’ve worked on before.</p>
  <ul>
    {
      allPosts.map((project) => (
        <BlogPost url={`/projects/${project.slug}/`} title={project.data.title} image={project.data.images[0]}>
           {project.data.skills.map((skill) => { return (<a class="project__skill" href={`/skills/${skill}/`}>{skill}</a>) })}
        </BlogPost>
      ))
    }
  </ul>
</BaseLayout>